<app-header></app-header>

<ion-content padding fullscreen scroll-y="false" class="green-gradient" id="pageContent">
  <ion-slides class="full-height-slides-with-game-code" slidesPerView="1" [options]="slideOpts" #NewRoundSlider>

    <ion-slide>
      <div class="slide-inner" class="full-width">
        <ion-card *ngIf="gameContext" class="no-margin-top">
          <ion-card-header class="no-padding-bottom">
            <ion-card-subtitle>Answers</ion-card-subtitle>
          </ion-card-header>

          <ion-card-content class="no-padding-top">
            <app-player-answer-list 
              *ngIf="gameContext && gameContext.currentGame && gameContext.currentGame.currentRound" 
              [participants]="gameContext.currentGame.currentRound.participants" 
              class="full-width">
            </app-player-answer-list>
          </ion-card-content>
        </ion-card>

        <ion-button fill="outline" class="slider-button" size="small" (click)="goToSlide(2)">
          <ion-icon slot="start" name="arrow-round-back"></ion-icon>
          Your Answer
        </ion-button>

        <ion-button fill="outline" class="slider-button" size="small" (click)="goToSlide(1)">
          <ion-icon slot="end" name="arrow-round-forward"></ion-icon>
          Option Grid
        </ion-button>
      </div>
    </ion-slide>

    <ion-slide>
      <div class="slide-inner" class="full-width">
        <ion-card *ngIf="gameContext" class="no-margin-top">
          <ion-card-header class="no-padding-bottom">
            <ion-card-subtitle>Option Grid</ion-card-subtitle>
          </ion-card-header>

          <ion-card-content class="no-padding-top">
            <app-option-grid *ngIf="currentRound" [options]="currentRound.allOptions"
              [selectedOption]="isImposter ? null : currentRound.word" class="full-width">
            </app-option-grid>

            <ion-button expand="block" size="small" (click)="goToSlide(2)" *ngIf="!yourAnswer">Submit your answer<ion-icon slot="end" name="arrow-round-forward"></ion-icon></ion-button>
          </ion-card-content>
        </ion-card>

        <ion-button fill="outline" class="slider-button" size="small" (click)="goToSlide(0)">
          <ion-icon slot="start" name="arrow-round-back"></ion-icon>
          Other Answers
        </ion-button>

        <ion-button fill="outline" class="slider-button" size="small" (click)="goToSlide(2)">
          <ion-icon slot="end" name="arrow-round-forward"></ion-icon>
          Your Answer
        </ion-button>
      </div>
    </ion-slide>

    <ion-slide>
      <div class="slide-inner" class="full-width">
        <ion-card class="white-background" *ngIf="!yourAnswer" class="no-margin-top">
          <ion-card-header>
            <ion-card-title>Time to answer</ion-card-title>
          </ion-card-header>

          <ion-card-content>
            <p>When you are ready, submit (and read out) one word to prove you are not the imposter.</p>

            <form [formGroup]="form" class="ion-padding-bottom imposter-form">
              <ion-item class="ion-no-padding">
                <ion-label color="primary" position="floating">Your answer</ion-label>
                <ion-input formControlName="answer" type="text"></ion-input>
              </ion-item>
              <app-error-message [control]="form.get('answer')"></app-error-message>
            </form>

            <ion-button [disabled]="!form.valid" expand="block" (click)="submitAnswer()">Submit answer</ion-button>
          </ion-card-content>
        </ion-card>

        <ion-card class="white-background" *ngIf="yourAnswer">
          <ion-card-header>
            <ion-card-title>Your Answer</ion-card-title>
          </ion-card-header>

          <ion-card-content>
            <p>You have answered <strong>{{yourAnswer}}</strong></p>

            <p>You can now concentrate on the answers provided by the other players to try and figure out who the
              imposter is.</p>
          </ion-card-content>
        </ion-card>

        <ion-button fill="outline" class="slider-button" size="small" (click)="goToSlide(1)">
          <ion-icon slot="start" name="arrow-round-back"></ion-icon>
          Option Grid
        </ion-button>

        <ion-button fill="outline" class="slider-button" size="small" (click)="goToSlide(0)">
          <ion-icon slot="end" name="arrow-round-forward"></ion-icon>
          Other Answers
        </ion-button>
      </div>
    </ion-slide>

  </ion-slides>

  <app-timer></app-timer>
</ion-content>

<app-footer [helpSection]="'current-round'"></app-footer>