// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
  // --ion-color-primary: #f25e7a;
  // --ion-color-primary-rgb: 242,94,122;
  // --ion-color-primary-contrast: #000000;
  // --ion-color-primary-contrast-rgb: 0,0,0;
  // --ion-color-primary-shade: #d5536b;
  // --ion-color-primary-tint: #f36e87;

  --ion-color-primary: #f04262;
  --ion-color-primary-rgb: 240,66,98;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255,255,255;
  --ion-color-primary-shade: #d33a56;
  --ion-color-primary-tint: #f25572;

  --ion-color-secondary: #66d9ae;
  --ion-color-secondary-rgb: 102,217,174;
  --ion-color-secondary-contrast: #000000;
  --ion-color-secondary-contrast-rgb: 0,0,0;
  --ion-color-secondary-shade: #5abf99;
  --ion-color-secondary-tint: #75ddb6;

  --ion-color-tertiary: #d9042b;
  --ion-color-tertiary-rgb: 217,4,43;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255,255,255;
  --ion-color-tertiary-shade: #bf0426;
  --ion-color-tertiary-tint: #dd1d40;

  --ion-color-success: #04bf7b;
  --ion-color-success-rgb: 4,191,123;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255,255,255;
  --ion-color-success-shade: #04a86c;
  --ion-color-success-tint: #1dc588;

  --ion-color-warning: #ffc409;
  --ion-color-warning-rgb: 255,196,9;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0,0,0;
  --ion-color-warning-shade: #e0ac08;
  --ion-color-warning-tint: #ffca22;

  --ion-color-danger: #d9042b;
  --ion-color-danger-rgb: 217,4,43;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255,255,255;
  --ion-color-danger-shade: #bf0426;
  --ion-color-danger-tint: #dd1d40;

  --ion-color-dark: #04bf7b;
  --ion-color-dark-rgb: 4,191,123;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255,255,255;
  --ion-color-dark-shade: #04a86c;
  --ion-color-dark-tint: #1dc588;

  --ion-color-medium: #91d9b7;
  --ion-color-medium-rgb: 145,217,183;
  --ion-color-medium-contrast: #000000;
  --ion-color-medium-contrast-rgb: 0,0,0;
  --ion-color-medium-shade: #80bfa1;
  --ion-color-medium-tint: #9cddbe;

  --ion-color-light: #d9f2e6;
  --ion-color-light-rgb: 217,242,230;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0,0,0;
  --ion-color-light-shade: #bfd5ca;
  --ion-color-light-tint: #ddf3e9;

  /** Table Cell **/
  // --ion-color-tablecell: #d9f2e6;
  // --ion-color-tablecell-rgb: 217,242,230;
  // --ion-color-tablecell-contrast: #000000;
  // --ion-color-tablecell-contrast-rgb: 0,0,0;
  // --ion-color-tablecell-shade: #bfd5ca;
  // --ion-color-tablecell-tint: #ddf3e9;

  --ion-color-tablecell: #ecf8f3;
  --ion-color-tablecell-rgb: 236,248,243;
  --ion-color-tablecell-contrast: #000000;
  --ion-color-tablecell-contrast-rgb: 0,0,0;
  --ion-color-tablecell-shade: #d0dad6;
  --ion-color-tablecell-tint: #eef9f4;

  --ion-color-white: #fff;
  --ion-color-white-rgb: 255, 255, 255;
  --ion-color-white-contrast: #000000;
  --ion-color-white-contrast-rgb: 0, 0, 0;
  --ion-color-white-shade: #fff;
  --ion-color-white-tint: #fff;

  --ion-color-light-green: #d9f2e6;
  --ion-color-dark-green: #037d50;
  
}