.option-grid{
    border: 5px solid white;
    padding: 0;
    margin-bottom: 16px;
}

.option-grid-row{
    background: #eee;

    .option-grid-cell{
        text-align: center;
        background: var(--ion-color-tablecell-tint);
        padding: 10px 5px;
        font-size: 12px;

        &.selected{
            background: var(--ion-color-secondary) !important;
            color: white;
            font-weight: bolder;
            text-shadow: 0 0 5px var(--ion-color-dark-green);;
        }
    }
}

.option-grid-row:nth-child(even) .option-grid-cell:nth-child(odd), 
.option-grid-row:nth-child(odd) .option-grid-cell:nth-child(even)
{
    background-color: white;
}