.option-grid{
    border: 5px solid white;
    padding: 0;
    margin-bottom: 16px;
}

.option-grid-row{
    background: #eee;

    .option-grid-cell{
        text-align: center;
        background: var(--ion-color-tablecell-tint);
        padding: 3px;
        vertical-align: middle;

        @media (min-height: 600px) {
            &{
                padding: 7px 5px;
            }
        }

        &.selected, &.selected button{
            background: var(--ion-color-secondary) !important;
            color: white;
            // font-weight: bolder;
            text-shadow: 0 0 5px var(--ion-color-dark-green);;
        }

        span, button{
            background: transparent;
            height: 100%;
            margin: 0 !important;
            padding: 0 !important;
            outline: none !important;
            font-size: 11px;

            @media (min-height: 600px) {
                &{
                    font-size: 12px;
                }
            }
        }
    }
}

.option-grid-row:nth-child(even) .option-grid-cell:nth-child(odd), 
.option-grid-row:nth-child(odd) .option-grid-cell:nth-child(even)
{
    background-color: white;
}