.help-content{
    h2,h3{
        color: var(--ion-color-primary);
    }

    h2{
        font-weight: bold;
    }

    ul{
        list-style: none;

        li{
            padding-bottom: 8px;
        }

        li::before {
            content: "\2022"; 
            color: var(--ion-color-primary);
            font-weight: bold;
            display: inline-block;
            width: 1em;
            margin-left: -1em;
          }
    }
}

.help-reminder-not-imposter{
    color: var(--ion-color-success);
}

.help-reminder-imposter{
    color: var(--ion-color-danger);
}