<app-header></app-header>

<ion-content fullscreen padding class="ion-padding green-gradient" >

  <ion-slides class="full-height-slides-with-game-code" style="flex-grow: 1;" slidesPerView="1" [options]="slideOpts" #NewRoundSlider>

    <ion-slide *ngIf="gameContext">
      <div class="slide-inner" class="full-width">
        <ion-card class="bordered" *ngIf="gameContext.currentGame">
          <ion-card-header class="no-padding-bottom">
            <ion-card-subtitle>Players</ion-card-subtitle>
          </ion-card-header>

          <ion-card-content class="no-padding-top">
            <app-player-list *ngIf="gameContext.currentGame" [players]="gameContext.currentGame.players" [currentPlayer]="gameContext.currentGame.currentPlayer" class="full-width"></app-player-list>
          </ion-card-content>
        </ion-card>

        <ion-button fill="outline" class="slider-button" size="small" (click)="goToSlide(1)">
          <ion-icon slot="end" name="arrow-round-forward"></ion-icon>
          Choose Grid
        </ion-button>
      </div>
    </ion-slide>

    <ion-slide *ngIf="gameContext">
      <div class="slide-inner" class="full-width">
        <ion-row justify-content-center align-items-center class="full-page-row" *ngIf="isLoaded">
          <div class="ion-text-center">

            <ion-card class="bordered" *ngIf="gameContext.currentGame.isHost && !this.gridService.selectedOptionGrid">
              <ion-card-header>
                <ion-card-title>Choose a grid for the next round</ion-card-title>
              </ion-card-header>

              <ion-card-content>
                <p>Before the next round starts you need to choose the topic to use.</p>

                <ion-button (click)="goToChooseGridPage()" margin-top expand="block">Choose grid</ion-button>
              </ion-card-content>
            </ion-card>

            <ion-card class="bordered" *ngIf="gameContext.currentGame.isHost && this.gridService.selectedOptionGrid">
              <ion-card-header>
                <ion-card-subtitle>You have chosen</ion-card-subtitle>
                <ion-card-title>"{{this.gridService.selectedOptionGrid.name}}"</ion-card-title>
              </ion-card-header>

              <ion-card-content>
                <p>Make sure all of your players are ready, and then start the round.</p>

                <ion-button (click)="startRound()" expand="block" margin-top class="top-button">Start new round</ion-button>

                <ion-button (click)="goToChooseGridPage()" expand="block" color="light">Choose a different grid</ion-button>
              </ion-card-content>
            </ion-card>

            <ion-card class="bordered" *ngIf="!gameContext.currentGame.isHost">
              <ion-card-header>
                <ion-card-title>Waiting for host.</ion-card-title>
              </ion-card-header>

              <ion-card-content>
                <p>The host is currently choosing the grid to use for the next round. This page will automatically
                  refresh
                  when the round starts.</p>
              </ion-card-content>
            </ion-card>

            <ion-button fill="outline" class="slider-button" size="small" (click)="goToSlide(0)">
              <ion-icon slot="start" name="arrow-round-back"></ion-icon>
              Players
            </ion-button>
          </div>
        </ion-row>
      </div>
    </ion-slide>

  </ion-slides>

  <app-game-code></app-game-code>

</ion-content>

<app-footer [hideChangeNameButton]="true"></app-footer>