.game-code-footer{
    padding:0;
    margin: 0;
    text-align: center;
    //bottom: 10px;
    //position: absolute;

    ion-button{
        // --background: var(--ion-color-light-shade);
        // --color: var(--ion-color-secondary);
        margin: 0;
    }
}