<ion-header>
  <ion-toolbar color="dark">
    <ion-title>Game Settings</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding fullscreen>

  <ion-card *ngIf="isLoaded && currentGameContext && currentGameContext.currentGame && currentGameContext.currentGame.isHost">
    <ion-card-header class="border-bottom">
      <ion-card-subtitle text-center>
        Players
      </ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-list class="player-list list-with-background alternate" *ngIf="currentGameContext && currentGameContext.currentGame">
        <ion-item *ngFor="let player of currentGameContext.currentGame.players" lines="none" class="ion-no-padding">
          <ion-label>{{player.name}}</ion-label>
          <ion-button *ngIf="playerService.currentPlayer.name != player.name" slot="end" color="primary" (click)="kickPlayer(player)">Kick</ion-button>
          <ion-button *ngIf="playerService.currentPlayer.name == player.name" slot="end" color="secondary">You</ion-button>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="isLoaded && currentGameContext && currentGameContext.currentGame && currentGameContext.currentGame.isHost && currentGameContext.currentGame.currentRound">
    <ion-card-header class="border-bottom">
      <ion-card-subtitle text-center>
        Current round
      </ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-button expand="block" color="danger" (click)="cancelRound()">Cancel current round</ion-button>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header class="border-bottom">
      <ion-card-subtitle text-center>
        Solve issues
      </ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-button expand="block" color="warning" (click)="reload()">Reload</ion-button>
      <ion-button expand="block" color="danger" (click)="clear()">Clear data and reload</ion-button>
    </ion-card-content>
  </ion-card>
  
</ion-content>