<ion-header>
  <ion-toolbar color="dark">
    <ion-title>Choose option grid</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding fullscreen>
  <ion-slides slidesPerView="1" [options]="slideOpts" pager="true" *ngIf="showSlides" class="pager-top choose-grid-slides">

    <ion-slide *ngFor="let group of gridGroups">
      <div class="slide-inner">
        <h1>{{group.name}}</h1>

        <ion-list>
          <ion-item class="ion-no-padding" *ngFor="let grid of group.optionGrids" (click)="selectGrid(grid)">
              <ion-label>{{grid.name}}</ion-label>
            <!-- <button item-right (click)="selectGrid(grid)">{{grid.title}}</button> -->
            <ion-note slot="end" color="primary">Choose</ion-note>
          </ion-item>
        </ion-list>
      </div>
    </ion-slide>

  </ion-slides>
</ion-content>