<!-- <ion-list class="player-answer-list list-with-background">
  <ion-item lines="none" class="ion-no-padding" [ngClass]="selectedPlayerName == 'Sam' ? 'selectedItem' : ''" (click)="selectImposter({player: {name: 'Sam'}})">
    <ion-label>Sam</ion-label>
    <ion-note slot="end" color="primary">Someword</ion-note>
  </ion-item>
  <ion-item lines="none" class="ion-no-padding" [ngClass]="selectedPlayerName == 'Sam2' ? 'selectedItem' : ''" (click)="selectImposter({player: {name: 'Sam2'}})">
    <ion-label>Sam2</ion-label>
    <ion-note slot="end" color="primary">Another word</ion-note>
  </ion-item>
  <ion-item lines="none" class="ion-no-padding" [ngClass]="selectedPlayerName == 'Sam3' ? 'selectedItem' : ''" (click)="selectImposter({player: {name: 'Sam3'}})">
    <ion-label>Sam3</ion-label>
    <ion-note slot="end" color="light">WORD</ion-note>
  </ion-item>
</ion-list> -->

<ion-list class="player-answer-list list-with-background" *ngIf="participants">
  <ion-item *ngFor="let participant of participants | notIncludingPlayer: hideThisPlayerName" lines="none" class="ion-no-padding" 
  [ngClass]="selectedPlayerName == participant.player.name ? 'selectedItem' : ''" 
  (click)="selectImposter(participant)">
    <ion-label>{{participant.player.name}}</ion-label>
    <ion-note slot="end" color="primary">{{participant.answer}}</ion-note>
  </ion-item>
</ion-list>