<ion-list class="player-answer-list">
  <ion-item lines="none" class="ion-no-padding">
    <ion-label>Sam</ion-label>
    <ion-note slot="end" color="primary">Someword</ion-note>
  </ion-item>
  <ion-item lines="none" class="ion-no-padding">
    <ion-label>Sam2</ion-label>
    <ion-note slot="end" color="primary">Another word</ion-note>
  </ion-item>
  <ion-item lines="none" class="ion-no-padding">
    <ion-label>Sam3</ion-label>
    <ion-note slot="end" color="light">Waiting...</ion-note>
  </ion-item>
</ion-list>