<ion-footer no-border *ngIf="isLoaded">
    <ion-toolbar *ngIf="this.currentGameContext.currentGame">
    <ion-buttons slot="secondary" *ngIf="helpSection">
      <ion-button color="light" (click)="showHelp()" *ngIf="!pulseHelpButton">
        <div class="pulsable"><ion-icon name="help-circle"></ion-icon> Tips &amp; tricks</div>
      </ion-button>
      <ion-button color="warning" (click)="showHelp()" *ngIf="pulseHelpButton" class="pulse">
        <div class="pulsable"><ion-icon name="help-circle"></ion-icon> Tips &amp; tricks</div>
      </ion-button>
    </ion-buttons>

    <ion-buttons slot="secondary" *ngIf="!helpSection && showNextRoundButton">
      <ion-button color="warning" (click)="goToNextRound()">
        <ion-icon name="sync"></ion-icon> Next round
      </ion-button>
    </ion-buttons>

    <ion-buttons slot="primary">
      <ion-button color="light" (click)="leaveGame()">
        Leave game<ion-icon name="walk"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

  <ion-toolbar *ngIf="showChangeName">
    <ion-buttons slot="primary">
      <ion-button color="light" (click)="clearPlayer()">
        Not {{player.name}}<ion-icon name="help"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <!-- <ion-button class="no-margin" color="light" *ngIf="showChangeName" expand="full" (click)="clearPlayer()">Not '{{player.name}}'?</ion-button> -->
  
  <div class="play-button-wrapper" *ngIf="!hidePlayButton && !this.currentGameContext.currentGame">
    <ion-button class="play-button" expand="block" (click)="playGame()">Play game</ion-button>
  </div>
</ion-footer>