.game-code-footer{
    padding:0;
    margin: 0;
    background: var(--ion-color-secondary);
    cursor: pointer;

    h4{
        text-align: center;
        color: white;
        padding:8px 0;
        margin: 0;
        font-size: 0.8rem;
    }
}