<ion-footer *ngIf="isLoaded">
  <div *ngIf="currentGameContext && currentGameContext.currentGame" color="secondary" class="game-code-footer no-padding">
      <h4>Your game code: {{currentGameContext.currentGame.easyCode}}</h4>
  </div>

  <ion-toolbar *ngIf="this.currentGameContext.currentGame">
    <ion-buttons slot="secondary" *ngIf="helpSection">
      <ion-button (click)="showHelp()">
        <ion-icon name="help-circle"></ion-icon> Tips &amp; Tricks
      </ion-button>
    </ion-buttons>

    <ion-buttons slot="primary">
      <ion-button (click)="leaveGame()">
        Leave Game<ion-icon name="walk"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-button class="no-margin" *ngIf="!this.currentGameContext.currentGame" expand="full" (click)="playGame()" color="dark">Play game
  </ion-button>
</ion-footer>