<ion-footer *ngIf="isLoaded">
  <div *ngIf="gameContext" color="secondary" class="game-code-footer no-padding">
      <h4>Your game code: {{gameContext.currentGame.easyCode}}</h4>
  </div>

  <ion-toolbar *ngIf="hasJoinedGame">
    <ion-buttons slot="secondary" *ngIf="helpSection">
      <ion-button (click)="showHelp()">
        <ion-icon name="help-circle"></ion-icon> Tips &amp; Tricks
      </ion-button>
    </ion-buttons>

    <ion-buttons slot="primary">
      <ion-button (click)="leaveGame()">
        Leave Game<ion-icon name="walk"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-button class="no-margin" *ngIf="!hasJoinedGame" expand="full" (click)="playGame()" color="dark">Play game
  </ion-button>
</ion-footer>

<!-- <ion-footer *ngIf="isLoaded">
    <ion-button class="no-margin" *ngIf="!hasJoinedGame" expand="full" (click)="playGame()" color="dark">Play game</ion-button>
    <ion-button class="no-margin" *ngIf="hasJoinedGame" expand="full" (click)="leaveGame()" color="dark">Leave game</ion-button>
    <ion-button class="no-margin" *ngIf="hasHelp" expand="full" (click)="showHelp()" color="dark">Help</ion-button>
  </ion-footer>  -->