<app-header></app-header>

<ion-content fullscreen scroll-y="false" id="pageContent">
  <ion-slides class="full-height-slides" slidesPerView="1" [options]="slideOpts" #ChooseImposterSlider>

    <ion-slide>
      <div class="slide-inner full-width">
        <ion-card>
          <div class="choose-step-1">
            <ion-card-content>
              <app-option-grid *ngIf="currentRound" [options]="currentRound.allOptions"
                [selectedOption]="isImposter ? null : currentRound.word" class="full-width">
              </app-option-grid>
            </ion-card-content>
          </div>
        </ion-card>

        <ion-button class="slider-button" fill="outline" size="small" (click)="goToSlide(1)">
          Answers
          <ion-icon slot="end" name="arrow-round-forward"></ion-icon>
        </ion-button>
      </div>
    </ion-slide>

    <ion-slide>
      <div class="slide-inner full-width">
        <ion-card>
          <div class="choose-step-1">
            <ion-card-header>
              <ion-card-subtitle>Step 1 of 2</ion-card-subtitle>
              <ion-card-title *ngIf="!isImposter && !hasSubmitted">
                Who you think was the imposter?
              </ion-card-title>
              <ion-card-title *ngIf="isImposter && !hasSubmitted">Who do you think had the worst answer?
              </ion-card-title>
              <ion-card-title *ngIf="hasSubmitted">You have already made your accusation!</ion-card-title>
            </ion-card-header>
            <ion-card-content class="no-padding-top">
              <app-player-answer-list
                *ngIf="gameContext && gameContext.currentGame && gameContext.currentGame.currentRound && !hasSubmitted"
                [participants]="gameContext.currentGame.currentRound.participants" [clickable]="true"
                [selectedPlayerName]="selectedImposter ? selectedImposter.name : null"
                [hideThisPlayerName]="playerService.currentPlayer.name" (onPlayerSelected)="setSelectedPlayer($event)"
                class="full-width">
              </app-player-answer-list>

              <ion-button *ngIf="!hasSubmitted" [disabled]="!selectedImposter" (click)="goToSlide(2)" expand="block">
                Select imposter
                <ion-icon slot="end" name="arrow-round-forward"></ion-icon>
              </ion-button>
              <ion-button *ngIf="hasSubmitted" (click)="goToSlide(2)" expand="block">
                View accusation
                <ion-icon slot="end" name="arrow-round-forward"></ion-icon>
              </ion-button>
            </ion-card-content>
          </div>
        </ion-card>

        <ion-button class="slider-button" fill="outline" size="small" (click)="goToSlide(0)">
          <ion-icon slot="start" name="arrow-round-back"></ion-icon>
          Option Grid
        </ion-button>
      </div>
    </ion-slide>

    <ion-slide>
      <div class="slide-inner full-width">
        <ion-card *ngIf="!selectedImposter && !hasSubmitted">
          <ion-card-header>
            <ion-card-subtitle>Step 2 of 2</ion-card-subtitle>
            <ion-card-title>
              Please select a imposter first...
            </ion-card-title>
          </ion-card-header>
          <ion-card-content class="no-padding-top">
            <ion-button (click)="goToSlide(1)" expand="block">
              <ion-icon slot="start" name="arrow-round-back"></ion-icon>
              Go back
            </ion-button>
          </ion-card-content>
        </ion-card>

        <ion-card *ngIf="selectedImposter && !hasSubmitted">
          <ion-card-header>
            <ion-card-subtitle>Step 2 of 2</ion-card-subtitle>
            <ion-card-title>
              You have selected {{selectedImposter.name}} as the imposter.
            </ion-card-title>
          </ion-card-header>
          <ion-card-content class="no-padding-top">
            <p>Now select your wager; the more you bet, the more you win. However, if you are wrong the imposter will
              get
              the points!</p>

            <ion-list class="list-with-background">
              <ion-item lines="none" class="ion-no-padding" [ngClass]="selectedWager == 1 ? 'selectedItem' : ''"
                (click)="setWager(1)">
                <ion-label>I'm not sure</ion-label>
                <ion-note slot="end" color="primary">1 point</ion-note>
              </ion-item>
              <ion-item lines="none" class="ion-no-padding" [ngClass]="selectedWager == 2 ? 'selectedItem' : ''"
                (click)="setWager(2)">
                <ion-label>I think I know</ion-label>
                <ion-note slot="end" color="primary">2 points</ion-note>
              </ion-item>
              <ion-item lines="none" class="ion-no-padding" [ngClass]="selectedWager == 3 ? 'selectedItem' : ''"
                (click)="setWager(3)">
                <ion-label>I definitely know!</ion-label>
                <ion-note slot="end" color="primary">3 points</ion-note>
              </ion-item>
            </ion-list>

            <div *ngIf="!hasSubmitted" class="choose-step-3">
              <ion-button expand="block" [disabled]="!selectedWager" (click)="submitAnswer()">Submit answer</ion-button>
            </div>
          </ion-card-content>
        </ion-card>

        <ion-card *ngIf="hasSubmitted">
          <ion-card-header>
            <ion-card-title>
              You accusation
            </ion-card-title>
          </ion-card-header>
          <ion-card-content class="no-padding-top">
            <h2>You have accused {{selectedImposter.name}}.</h2>
            <h2>You have wagered {{selectedWager}} points.</h2>
            <p>Please wait for the remaining players to make their accusations.</p>
          </ion-card-content>
        </ion-card>
      </div>
    </ion-slide>

  </ion-slides>

  <!-- <h3>Timer: {{getDisplayTime()}}</h3> -->
</ion-content>

<app-footer [helpSection]="'current-round'"></app-footer>