<app-header></app-header>

<ion-content fullscreen scroll-y="false" class="ion-padding">

  <ion-row class="full-page-row ion-justify-content-center ion-align-items-center">

    <div class="ion-text-center" *ngIf="!currentGame">
      <ion-text>
        <h1>Who are you?</h1>
      </ion-text>

      <form [formGroup]="form">
        <ion-item>
          <ion-label color="primary" position="floating">Name</ion-label>
          <ion-input formControlName="name" type="text"></ion-input>
        </ion-item>
        <app-error-message [control]="'name'"></app-error-message>
      </form>
    </div>

    <div class="ion-text-center" *ngIf="currentGame">
      <ion-text>
        <h1>Hi {{player.name}}</h1>
        <h3>If you want to change your name, you need to leave the current game.</h3>
      </ion-text>

      <ion-button expand="block" (click)="leaveGame()">Leave Game</ion-button>
    </div>

  </ion-row>

</ion-content>

<ion-footer>
  <ion-button *ngIf="currentGame" expand="full" size="large" (click)="goToNewGame()">Start!</ion-button>
  <ion-button *ngIf="!currentGame" [disabled]="!form.valid" expand="full" size="large" (click)="saveName()">Start!</ion-button>
</ion-footer>