<app-header></app-header>

<ion-content fullscreen scroll-y="false" class="ion-padding green-gradient">

  <ion-row class="full-page-row ion-justify-content-center ion-align-items-center">

    <ion-card class="no-margin-top" *ngIf="!gameContext || (gameContext && !gameContext.currentGame)">
      <ion-card-header>
        <ion-card-title text-center>Who are you?</ion-card-title>
      </ion-card-header>
      <ion-card-content class="no-padding-top">
        <form [formGroup]="form" class="margin-bottom imposter-form">
          <ion-item no-margin no-padding>
            <ion-label color="primary" position="floating">Name</ion-label>
            <ion-input formControlName="name" type="text"></ion-input>
          </ion-item>
          <app-error-message [control]="'name'"></app-error-message>
        </form>

        <ion-button *ngIf="!gameContext || (gameContext && !gameContext.currentGame)" [disabled]="!form.valid" expand="block" (click)="saveName()">Start!</ion-button>
      </ion-card-content>
    </ion-card>
  </ion-row>

</ion-content>

<ion-footer>
  <!-- <ion-button *ngIf="!gameContext || (gameContext && gameContext.currentGame)" expand="full" size="large" (click)="goToNewGame()">Start!</ion-button> -->
  
</ion-footer>