<app-header></app-header>

<h3>One secret word<br />
One clue each<br />
One doesn't know the secret<br />
One chance to catch the imposter!</h3>

<button mat-raised-button color="primary">Play now</button>

<a mat-button color="accent" href="#LearnToPlay">Learn to play below</a>

<mat-divider id="LearnToPlay"></mat-divider>

<h2>How to play</h2>

<mat-vertical-stepper #stepper>
    <mat-step label="Select category" completed="false">
        <p>At the start of each round, the host will select a category. This category contains a selection of words of
            which one will be selected to be the secret word.</p>
        <p>Most players will see this secret word highlighted on their gird, however one player will not. This person is
            the imposter.</p>

        <button mat-stroked-button matStepperNext>Next</button>
    </mat-step>
    <mat-step label="Answer" completed="false">
        <p>Once the round has started each player must say a word that relates to the secret word. As the imposter
            doesn't know what the secret word is, they must try to blend in with the answer that they choose.</p>
        <p>Answers must be clear enough to prove that you are not the imposter, but you don't want to be so specific so
            that the imposter can guess what the secret word is.</p>
        <p>Players can answer at any time. Answering first reduce other user's suspicion of you, do you want to risk
            being the last to answer?</p>

        <button mat-stroked-button matStepperNext>Next</button>
    </mat-step>
    <mat-step label="Interrogation" completed="false">
        <p>When all players have answered, players can then interrogate each other to try and determine who the imposter
            is.</p>
        <p>The imposter needs to use this time to prove that they know what the answer is, without saying what it is. By
            deflecting accusations to other users can you avoid suspicion while also picking up clues to help you fins
            the secret word?</p>

        <button mat-stroked-button matStepperNext>Next</button>
    </mat-step>
    <mat-step label="Place your wager" completed="false">
        <p>After the interrogation has finished each player must then select the user that they think is the imposter.
        </p>
        <p>If you are sure of your accusation, you can wager more points. If you are correct you will get all of those
            points added to your total.</p>
        <p>However, if you guess wrong the imposter will get those points instead. Do you trust your gut?</p>

        <button mat-stroked-button matStepperNext>Next</button>
    </mat-step>
    <mat-step label="The imposter is identified" completed="false">
        <p>Once all wagers are placed, the votes will be tallied. Have you successfully found the imposter?</p>
        <p>The imposter will be revealed. Once revealed, the imposter has a chance to guess the correct answer.</p>
        <p>If the imposter guesses the secret word correctly, the clues given by other user were clearly poor. The
            imposter will get one bonus point per player.</p>
        <p>If the imposter does not guess the secret word, each player gets one bonus point each.</p>

        <button mat-raised-button color="primary">Play now</button>
    </mat-step>
</mat-vertical-stepper>

<app-footer></app-footer>