.play-button-wrapper {
  padding: 5px;

  ion-button.play-button {
    letter-spacing: 0.5px;
    font-size: 15px;
    margin: 0;
    --color: white;
    --border-color: white !important;
    --border-width: 3px !important;
    --border-style: solid !important;
    --background: var(--ion-color-primary) !important;
  }
}

.header-logo {
  max-height: 80%;
  margin: auto;
  display: block;
  opacity: 0;
  transition: opacity 0.3s;

  &.show-header-logo {
    opacity: 1;
  }
}

.animate-this {
  opacity: 1;
  height: auto;
  transition: all 0.1s;

  &.now-hidden{
    opacity: 0;
    height: 0;
    display: none;
  }
}

.home-header-message{
  color:rgba(255,255,255,0.5);
  padding: 0; 
  margin: 0 0 -30px; 
  text-align: center; 
  height: 30px;
}

.home-header-buttons{
  position: absolute;
  top: 4px;
  right: 0;
}