<app-header></app-header>

<ion-content fullscreen scroll-y="false" class="ion-padding green-gradient">
  <ion-slides class="full-height-slides" slidesPerView="1" [options]="slideOpts" pager="true" #HomeSlider>

    <ion-slide>
      <ion-card class="no-margin-top">
        <div>
          <ion-card-header>
            <ion-card-title>Imposter!</ion-card-title>
          </ion-card-header>
          <ion-card-content class="no-padding-top multi-paragraph">
            <p>Can you fit in the group despite not knowing what the rest of the group know?</p>
            <p>Best played with 4 - 7 players.</p>
            <ion-button (click)="swipeNext()">Learn to play</ion-button>
          </ion-card-content>
        </div>
      </ion-card>
    </ion-slide>

    <ion-slide>
      <ion-card class="no-margin-top">
        <ion-card-header>
          <ion-card-title>Friends and family</ion-card-title>
        </ion-card-header>
        <ion-card-content class="no-padding-top multi-paragraph">
          <p>Gather a crowd of budding spies and sleuths and ensure that you can all easily communicate.</p>
          <p>Ideally play socially distanced in one room, but you can also play over video call!</p>
        </ion-card-content>
      </ion-card>
    </ion-slide>

    <ion-slide>
      <ion-card class="no-margin-top">
        <ion-card-header>
          <ion-card-title>Secret words</ion-card-title>
        </ion-card-header>
        <ion-card-content class="no-padding-top multi-paragraph">
          <p>At the start of each round, the host will select a category. This category contains a selection of words of
            which one will be selected to be the secret word.</p>
          <p>Most players will see this secret word highlighted on their grid, however one player will not. This person
            is the <strong>imposter</strong>.</p>
        </ion-card-content>
      </ion-card>
    </ion-slide>

    <ion-slide>
      <ion-card class="no-margin-top">
        <ion-card-header>
          <ion-card-title>Pick a word, any word</ion-card-title>
        </ion-card-header>
        <ion-card-content class="no-padding-top multi-paragraph">
          <p>Once the round has started each player must say a word that relates to the secret word. As the imposter
            doesn't know what the secret word is, they must try to blend in with the answer that they choose.</p>
          <p>Answers must be clear enough to prove that you are not the imposter, but you don't want to be so specific so
            that the imposter can guess what the secret word is.</p>
          <p>Players can answer at any time. Answering early can reduce other's suspicion of you, do you want to risk
            being the last to answer?</p>
        </ion-card-content>
      </ion-card>
    </ion-slide>

    <ion-slide>
      <ion-card class="no-margin-top">
        <ion-card-header>
          <ion-card-title>The interrogation</ion-card-title>
        </ion-card-header>
        <ion-card-content class="no-padding-top multi-paragraph">
          <p>When all players have answered, players can then interrogate each other to try and determine who the imposter
            is without revealing the secret word.</p>
          <p>The imposter needs to use this time to prove that they know what the answer is, without saying what it is. By
            deflecting accusations to other users can you avoid suspicion while also picking up clues to help you find
            the secret word?</p>
        </ion-card-content>
      </ion-card>
    </ion-slide>

    <ion-slide>
      <ion-card class="no-margin-top">
        <ion-card-header>
          <ion-card-title>Accusations and wagers</ion-card-title>
        </ion-card-header>
        <ion-card-content class="no-padding-top multi-paragraph">
          <p>After the interrogation has finished each player must then select the user that they think is the imposter.
          </p>
          <p>If you are sure of your accusation, you can wager more points. If you are correct you will get all of those
            points added to your total.</p>
          <p>However, if you guess wrong the imposter can win those points instead. Do you trust your gut?</p>
        </ion-card-content>
      </ion-card>
    </ion-slide>

    <ion-slide>
      <ion-card class="no-margin-top">
        <ion-card-header>
          <ion-card-title>Consensuses and confessions</ion-card-title>
        </ion-card-header>
        <ion-card-content class="no-padding-top multi-paragraph">
          <p>Once all wagers are placed, the votes will be tallied. As a collective, have you successfully found the imposter?</p>
          <p>Once the imposter is revealed, they have a chance to guess the secret word.</p>
          <p>If the imposter guesses correctly, your clues were too obvious and the imposter will get a point plus any incorrect wagers.</p>
          <p>If the imposter does not guess the secret word, each player gets one bonus point each.</p>
        </ion-card-content>
      </ion-card>
    </ion-slide>
  </ion-slides>
</ion-content>

<app-footer [hideChangeNameButton]="true"></app-footer>