<ion-header no-border>
  <ion-toolbar *ngIf="isLoaded && this.currentGameContext">
    <!-- <ion-buttons slot="start">
      <ion-icon name="people" slot="start"></ion-icon>
    </ion-buttons> -->

    <ion-title *ngIf="isLoaded && (!this.currentGameContext.currentGame || this.currentGameContext.currentGame.isImposter == null)">
      <img class="app-header-logo" src="assets/logo.png" />
    </ion-title>

    <ion-title class="no-padding"
      *ngIf="isLoaded && this.currentGameContext.currentGame && this.currentGameContext.currentGame.isImposter == true">
      You are the Imposter!
    </ion-title>

    <ion-title class="no-padding"
      *ngIf="isLoaded && this.currentGameContext.currentGame && this.currentGameContext.currentGame.isImposter == false">
      You are <strong>NOT</strong> the Imposter!
    </ion-title>

    <ion-buttons slot="end">
      <ion-button color="light" (click)="openSettings()">
        <ion-icon name="settings"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>