<app-header></app-header>

<ion-content padding fullscreen scroll-y="false" id="pageContent" class="green-gradient">
  <ion-slides class="full-height-slides" slidesPerView="1" [options]="slideOpts" #ScoresSlider>

    <ion-slide>
      <div class="slide-inner" class="full-width">
        <ion-card class="bordered small-margin-top" text-center *ngIf="gameContext && gameContext.currentGame && gameContext.currentGame.previousRound">
          <ion-card-header>
            <ion-card-title>
              Round Overview
            </ion-card-title>
          </ion-card-header>
          <ion-card-content class="no-padding-top">
            <!-- IMPOSTER VIEW-->
            <ion-list lines="none" class="round-summary-list"
              *ngIf="gameContext && gameContext.currentGame && gameContext.currentGame.previousRound && gameContext.currentGame.wasImposterLastRound">
              <!-- WORD -->
              <ion-item>
                <ion-label text-center text-wrap class="almost-black">
                  The secret word was <strong>'{{gameContext.currentGame.previousRound.word}}'</strong>.
                </ion-label>
                <ion-icon class="almost-black" name="search" slot="start"></ion-icon>
              </ion-item>

              <!-- IMPOSTER -->
              <ion-item>
                <ion-label text-center text-wrap  class="almost-black">
                  <strong>You</strong> were the imposter!
                </ion-label>
                <ion-icon class="almost-black" name="body" slot="start"></ion-icon>
              </ion-item>

              <!-- IMPOSTER FOUND? -->
              <ion-item *ngIf="!gameContext.currentGame.previousRound.wasImposterFound">
                <ion-label text-center text-wrap color="success">
                  You were <strong>not</strong> identified by the team!
                </ion-label>
                <ion-icon color="success" name="thumbs-up" slot="start"></ion-icon>
              </ion-item>

              <ion-item *ngIf="gameContext.currentGame.previousRound.wasImposterFound">
                <ion-label text-center text-wrap color="danger">
                  You were identified by the team!
                </ion-label>
                <ion-icon color="danger" name="thumbs-down" slot="start"></ion-icon>
              </ion-item>

              <!-- IMPOSTER GUESSED WORD? -->
              <ion-item *ngIf="gameContext.currentGame.previousRound.isImpostersGuessCorrect">
                <ion-label text-center text-wrap color="success">
                  You guessed the secret word correctly.
                </ion-label>
                <ion-icon color="success" name="thumbs-up" slot="start"></ion-icon>
              </ion-item>

              <ion-item *ngIf="!gameContext.currentGame.previousRound.isImpostersGuessCorrect">
                <ion-label text-center text-wrap color="danger">
                  You did not guess the secret word. You guessed "{{gameContext.currentGame.previousRound.impostersGuess}}".
                </ion-label>
                <ion-icon color="danger" name="thumbs-down" slot="start"></ion-icon>
              </ion-item>

            </ion-list>

            <!-- TEAM PLAYER VIEW -->
            <ion-list lines="none"  class="round-summary-list"
              *ngIf="gameContext && gameContext.currentGame && gameContext.currentGame.previousRound && !gameContext.currentGame.wasImposterLastRound">
              <!-- WORD -->
              <ion-item>
                <ion-label text-center text-wrap  class="almost-black">
                  The secret word was <strong>'{{gameContext.currentGame.previousRound.word}}'</strong>.
                </ion-label>
                <ion-icon class="almost-black" name="search" slot="start"></ion-icon>
              </ion-item>

              <!-- IMPOSTER -->
              <ion-item>
                <ion-label text-center text-wrap class="almost-black">
                  <strong>{{gameContext.currentGame.previousRound.imposter.player.name}}</strong> was the imposter!
                  
                </ion-label>
                <ion-icon class="almost-black" name="body" slot="start"></ion-icon>
              </ion-item>

              <!-- PLAYER GUESSED IMPOSTER? -->
              <ion-item *ngIf="isUserGuessCorrect(gameContext.currentGame.previousRound, playerService.currentPlayer)">
                <ion-label text-center text-wrap color="success">
                  You guessed the imposter correctly.
                </ion-label>
                <ion-icon color="success" name="thumbs-up" slot="start"></ion-icon>
              </ion-item>

              <ion-item *ngIf="!isUserGuessCorrect(gameContext.currentGame.previousRound, playerService.currentPlayer)">
                <ion-label text-center text-wrap color="danger">
                  You did not guess the imposter correctly.
                </ion-label>
                <ion-icon color="danger" name="thumbs-down" slot="start"></ion-icon>
              </ion-item>

              <!-- IMPOSTER FOUND? -->
              <ion-item *ngIf="gameContext.currentGame.previousRound.wasImposterFound">
                <ion-label text-center text-wrap color="success">
                  The imposter was identified by the team!
                </ion-label>
                <ion-icon color="success" name="thumbs-up" slot="start"></ion-icon>
              </ion-item>

              <ion-item *ngIf="!gameContext.currentGame.previousRound.wasImposterFound">
                <ion-label text-center text-wrap color="danger">
                  The imposter was <strong>not</strong> identified by the team!
                </ion-label>
                <ion-icon color="danger" name="thumbs-down" slot="start"></ion-icon>
              </ion-item>

              <!-- IMPOSTER GUESSED WORD? -->
              <ion-item *ngIf="!gameContext.currentGame.previousRound.isImpostersGuessCorrect">
                <ion-label text-center text-wrap color="success">
                  The imposter did not guess the secret word. They guessed "{{gameContext.currentGame.previousRound.impostersGuess}}".
                </ion-label>
                <ion-icon color="success" name="thumbs-up" slot="start"></ion-icon>
              </ion-item>

              <ion-item *ngIf="gameContext.currentGame.previousRound.isImpostersGuessCorrect">
                <ion-label text-center text-wrap color="danger">
                  The imposter guessed the secret word correctly.
                </ion-label>
                <ion-icon color="danger" name="thumbs-down" slot="start"></ion-icon>
              </ion-item>
            </ion-list>
          </ion-card-content>
        </ion-card>

        <ion-button fill="outline" class="slider-button" size="small" (click)="goToSlide(1)">
          <ion-icon slot="end" name="arrow-round-forward"></ion-icon>
          Round scores
        </ion-button>
      </div>
    </ion-slide>

    <ion-slide>
      <div class="slide-inner" class="full-width">
        <ion-card class="bordered no-margin-top" text-center>
          <ion-card-header>
            <ion-card-title>
              Round Scores
            </ion-card-title>
          </ion-card-header>
          <ion-card-content class="no-padding-top">
            <app-scoreboard *ngIf="gameContext && gameContext.currentGame && gameContext.currentGame.previousRound"
              [scores]="gameContext.currentGame.previousRound.roundScores"
              [currentPlayer]="gameContext.currentGame.currentPlayer.name" class="full-width">
            </app-scoreboard>
          </ion-card-content>
        </ion-card>

        <ion-button  class="slider-button" fill="outline" size="small" (click)="goToSlide(0)">
          <ion-icon slot="start" name="arrow-round-back"></ion-icon>
          Round Overview
        </ion-button>

        <ion-button  class="slider-button" fill="outline" size="small" (click)="goToSlide(2)">
          <ion-icon slot="end" name="arrow-round-forward"></ion-icon>
          Game scores
        </ion-button>
      </div>
    </ion-slide>

    <ion-slide>
      <div class="slide-inner" class="full-width">
        <ion-card class="bordered no-margin-top" text-center>
          <ion-card-header>
            <ion-card-title>
              Game Scores
            </ion-card-title>
          </ion-card-header>
          <ion-card-content class="no-padding-top">
            <app-scoreboard *ngIf="gameContext && gameContext.currentGame && gameContext.currentGame"
              [scores]="gameContext.currentGame.gameScores" [currentPlayer]="gameContext.currentGame.currentPlayer.name"
              class="full-width">
            </app-scoreboard>
          </ion-card-content>
        </ion-card>

        <ion-button class="slider-button" fill="outline" size="small" (click)="goToSlide(1)">
          <ion-icon slot="start" name="arrow-round-back"></ion-icon>
          Round scores
        </ion-button>
      </div>
    </ion-slide>
  </ion-slides>
</ion-content>

<app-footer [showNextRoundButton]="true" [hideChangeNameButton]="true"></app-footer>