<app-header></app-header>

<ion-content padding fullscreen scroll-y="false" color="light" id="pageContent">
  <ion-slides class="full-height-slides" slidesPerView="1" [options]="slideOpts" #ScoresSlider>

    <ion-slide>
      <div class="slide-inner" class="full-width">
        <h2>Round Scores</h2>

        <app-scoreboard 
        *ngIf="gameContext && gameContext.currentGame && gameContext.currentGame.previousRound" 
        [scores]="gameContext.currentGame.previousRound.roundScores" 
        [currentPlayer]="gameContext.currentGame.currentPlayer.name"
        class="full-width">
      </app-scoreboard>

        <ion-button fill="outline" size="small" (click)="goToSlide(1)">
          <ion-icon slot="start" name="arrow-round-back"></ion-icon>
          Game scores
        </ion-button>
      </div>
    </ion-slide>

    <ion-slide>
      <div class="slide-inner" class="full-width">
        <h2>Game Scores</h2>

        <app-scoreboard 
          *ngIf="gameContext && gameContext.currentGame && gameContext.currentGame" 
          [scores]="gameContext.currentGame.gameScores" 
          [currentPlayer]="gameContext.currentGame.currentPlayer.name"
          class="full-width">
        </app-scoreboard>

        <ion-button fill="outline" size="small" (click)="goToSlide(0)">
          <ion-icon slot="end" name="arrow-round-forward"></ion-icon>
          Round scores
        </ion-button>
      </div>
    </ion-slide>
  </ion-slides>

  <ion-button (click)="goToNextRound()" color="dark">
    <ion-icon slot="end" name="arrow-round-forward"></ion-icon>
    Next Round
  </ion-button>
</ion-content>

<app-footer [hideChangeNameButton]="true"></app-footer>